[submodule "Core/dependencies/assimp"]
	path = Core/dependencies/assimp
	url = https://github.com/I6-6-6I/assimp
[submodule "Core/dependencies/HML"]
	path = Core/dependencies/HML
	url = https://github.com/I6-6-6I/HML
